<div class="container fluid">

    <!--first row-->

    <div class="row text-center text-success mt-3">


        <div class="col-md-4">
            <a href="" style="text-decoration: none;" class="text-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="card shadow">
                    <div class="card body">
                        <h6>Add Quiz</h6>
                        <p>+</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="" style="text-decoration: none;" class="text-success">
                <div class="card shadow">
                    <div class="card body">
                        <h6>All Quizzes</h6>
                        <p>10</p>
                    </div>
                </div>
            </a>
        </div>





    </div> 

    <!--Second row-->
    <div class="row pe-2 mt-3">
      <div class="col-sm-12 text-center">
        <div>
          <div class="card -shadow">
            <div class="card-body">
              <h6 class="text-success">
                List Of Quizzes
              </h6>
              <div class="table table-hover mt-3">
                <thead>
                  <tr>
                    <th scope="col">course name</th>
                    <th scope="col">quiz name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quiz of AllQuizzes">
                    <td>{{quiz.quiz_name}</td>
                    <td>{{quiz.course_name}</td>
                    <td>{{quiz.quiz_Id}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary me-2" (click)="getQuiz(quiz)" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                      <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--Add Faculty-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="exampleModalLabel">Add Quiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]=" QuizDetailsForm" (ngSubmit)="AddNewQuiz()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder=" Quiz Name" formControlName="quiz_name">
                <label for="floatingInput">Quiz Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder=" Quiz Id" formControlName="quiz_Id">
                <label for="floatingInput">Quiz Id</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder=" Course Name"  formControlName="course_name">
                <label for="floatingInput">Course Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder=" dd/mm/yy"  formControlName="quiz_date">
                <label for="floatingInput">Quiz Date</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder=" list_ofquestions"  formControlName="list_of_questions">
                <label for="floatingInput">List Of Questions</label>
              </div>
              <button type="submit" class="btn btn-primary"> Save Quiz </button>
          </form>
        </div>
      </div>
    </div>
  </div>






</div>