<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple land</title>
    <link rel="stylesheet" href="main-homesd.component.css">
</head>    
<header class="container">

<a  class="logo">Helwan UNI</a>
</header>
<div class="container">
    <div class="intro">
        <h1 class="intro-title">Welcome A Real time-Quiz</h1>
    <p>
        Welcome to the testing site of Helwan University
        
    </p>
    <p>
        Log in or register now from here
        <br>
        All the best!!
    </p>
    <br>
    <a [routerLink]="['/', 'quizzes']" class="btn">Show Quizzes</a>
    </div>
</div>




</html>