<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple land</title>
    <link rel="stylesheet" href="main-homesd.component.css">
</head>    
<header class="container">

<a href="" class="logo">Helwan UV</a>
</header>
<div class="container">
    <div class="intro">
        <h1 class="intro-title">Welocme A Real time-Quiz</h1>
    <p>
        Welcome to the testing site of Helwan University
        
    </p>
    <p>
        Log in or register now from here
        <br>
        All the best!!
    </p>
    <br>
    <a href="../login" class="btn">Start the Quiz!!</a>
    </div>
</div>




</html>