<div id="user-data">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
        <label for="username">email</label>
        <input type="text" ngModel name="username" #username="ngModel" class="form-control" required email/>
        <span *ngIf="!username.valid && username.touched">Enter valid email</span>
    </div>
        <div class="form-group">
        <label for="age">password</label>
        <input type="text" ngModel name="password" class="form-control" required/>
    </div>
      <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Login</button>
  </form>  
</div>
