<div class="container mt-5">
    <div class="card">
        <div class="d.flex justify-content-between p-3">
            <div class="image">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq9mGX9W3pxxwM5WOzVGvBVZ_UrFagSFPbmQ&usqp=CAU" width="60" height="60" alt="logo" >
            </div>
            <div class="quiz-header">
                 <h4 style="font-family: cursive;">New Quiz</h4>
                 <span font-style="italic">Welcome Professor!</span>
            </div>

            <div class="name col-md-4 my-3">
                <label for="">Enter Course Name</label> 
                <input type="text" class="form-control">
            </div>
            <button class="btn btn-primary btn-lg">Add</button>
            
            <div class="name col-md-4 my-3">
                <label for="">Enter QuizName (tittle)</label> 
                <input type="text" class="form-control">
            </div>
            <button class="btn btn-primary btn-lg">Add</button>

            <div class="name col-md-4 my-3">
                <label for="">Enter Quiz Date</label> 
                <input type="date" class="form-control">
            </div>
            <button class="btn btn-primary btn-lg">Add</button>



            <div>
            <button class="btn btn-primary btn-lg" routerLink="/allquizzes">Save Quiz</button>
            </div>

           



</div>


</div>
