<div>
  <app-stud-navbar></app-stud-navbar>
</div>
<div class="container">
    <div class="row">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/', 'recieve']">Data</a></li>
          <li><a [routerLink]="['/', 'register']">Register</a></li>
          <li><a [routerLink]="['/', 'login']">Login</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div> -->