<router-outlet></router-outlet>
<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome professor
    </h1>




    <div class="name col-md-4 my-3">
      <label for="">Total Quizzes Available: </label> 
    </div>
        <button class="btn btn-primary btn-lg" routerLink="/allquizzes">View My Quizzes</button>
       
  
  
      

      
      <div class="name col-md-4 my-3">
        <label for="">Track Students' Performance</label> 
      </div>
      <button class="btn btn-primary btn-lg" routerLink="/quizdetails">Track Students</button>

         <p class="col-md-8 fs-4">Show Students' result</p>
         <div class="name col-md-4 my-3">
             <button class="btn btn-primary btn-lg" routerLink="/quizresult">Students Grades</button>
            
       
    
      
    
    <p class="col-md-8 fs-4">Want to add a new Quiz?</p>
    <div class="name col-md-4 my-3">
      <button class="btn btn-primary btn-lg" routerLink="/question">Add New Quiz</button>
     


    </div>
  
