<!DOCTYPE html>
<html>
  <head>
    <title>Student grades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="html, css, html tables, table">
    <meta name="Description" content="html table">
    <!-- add icon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">
      <h2>Student Grades</h2>
      <table>
        <thead>
          <tr>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Course name</th>
            <th>Quiz number</th>
            <th>Grade</th>
          <tr>  
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>Ali</td>
            <td>cs</td>
            <td>1</td>
            <td>9</td>
           
          </tr>
         
        </tbody>
        <!-- footer 
        <tfoot>
          <tr>
            <td colspan=3>Maximum Marks: </td>
            <td colspan=3>Marks Obtained: </td>
            <td colspan=2>Grade: </td>
          </tr>
        </tfoot> footer ends-->
      </table>
    </div>
  </body>
</html>