
<body class="body">
    <h1></h1>
    <div class="row">
        <input type="text" [(ngModel)]="searchFilter">
        <p></p>
        <div class="col col-24 col-md-12 col-lg-6" *ngFor="let quiz of filterProductSearch">
            <div class="card">
                <h5 class="card-header"> {{quiz.courseName | titlecase}}</h5>
                <div class="card-body">
                    <h5 class="card-title">Quiz:- {{quiz.tittle | titlecase}}</h5>
                    <p class="card-text">{{quiz.des}}</p>
                    <a  class="btn btn-primary" [routerLink]="['/', 'quiz']" (click)="chooseQuiz(quiz.id, quiz.questionsId)">Join Quiz</a>
                </div>
            </div>
        </div>
    </div>
</body>