<div class="container-fluid m-0 p-0 bg-black" style="height: 100vh; overflow:hidden !important;">

    <div class="row my-5">

        <div class="col"></div>
        <div class="col-md-3 my-5 me-5" style="height: 400px;">
            <div class="card shadow p-4" style="height: 400px !important;">

                <form [formGroup]="profLoginData" (ngSubmit)="ProfLogin()">
                    <h4 class=" text-success"> Professor Login</h4>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div *ngIf="profLoginData.get('username')?.invalid && (profLoginData.get('username')?.dirty || profLoginData.get('username')?.touched)" class="text-danger">
                            *You Must Fill The Required Field

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label" >Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <div *ngIf="profLoginData.get('password')?.invalid && (profLoginData.get('password')?.dirty || profLoginData.get('password')?.touched)" class="text-danger">
                            *You Must Fill The Required Field

                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success me-2 ms-auto" disabled="profLoginData">Login</button>
                </form>



            </div>
           






        </div>


    </div>

</div>