<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADD Quiz</title>
	<link rel="stylesheet" href="add-quiz.component.css">
</head>
<body>

<div class="wrapper">
    <div class="title">
        ADD Quiz
    </div>
    <div class="form">
       <div class="inputfield">
          <label>Course Name:</label>
          <input type="text" class="input">
       </div>  
        
       
      <div class="inputfield">
          <label>Tittle:</label>
          <input type="text" class="input">
       </div> 
       <div class="inputfield">
        <label>Quiz num:</label>
        <input type="text" class="input">
     </div>  
      <div class="inputfield">
          <label>Description:</label>
          <textarea class="textarea"></textarea>
       </div> 
     
       <div class="date " style="margin-left: 142px;">
<input type="date">
       </div>

       <div class="inputfield terms">
        <label class="check">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <p>Agreed to terms and conditions</p>
     </div> 
      <div class="inputfield">
        <input type="submit" value="Add" class="btn">
      </div>
    </div>
</div>	
	
</body>
</html>